.preloader__status
    @media screen and ( max-width 800px )
        font-size: 50px;
        line-height: 1;
    @media screen and ( max-width 540px )
        font-size: 42px;
    @media screen and ( max-width 375px )
        font-size: 32px;


/* **************************** */
// Hero 
/* **************************** */
.hero__header
    @media screen and ( max-width 1024px )
        margin-bottom: 3%;
    @media screen and ( max-width 540px )
        margin-bottom: 18%;

.hero__main
    @media screen and ( max-width 1024px )
        flex-direction: column;
        text-align: center;

.hero__pic,
.hero__desc
    @media screen and ( max-width 1024px )
        width: 60%;
    @media screen and ( max-width 540px )
        width: 77%;
    @media screen and ( max-width 425px )
        width: 100%;

.hero__pic
    @media screen and ( max-width 1024px )
        padding-left: 34px;
    @media screen and ( max-width 540px )
        padding-left: 6%;
    .hero__helper
        @media screen and ( max-width 1024px )
            margin-top: -128px;
        @media screen and ( max-width 425px )
            margin-top: -32%;
    img[alt="burger"]
        @media screen and ( max-width 425px )
            width: 75%;
        @media screen and ( max-width 345px )
            width: 70%;

.hero__drops
    @media screen and ( max-width 1024px )
        top: -20%;
        left: 0%;
        width: 100%;
    @media screen and ( max-width 540px )
        top: -33%;
    @media screen and ( max-width 425px )
        display: none;
    
.hero__desc
    @media screen and ( max-width 1024px )
        align-self: center;
        padding: 0;
        margin-top: 3%;
    @media screen and ( max-width 540px )
        margin-top: 8%;
    @media screen and ( max-width 425px )
        margin-top: 5%;
    @media screen and ( max-width 345px )
        margin-top: 2%;

.hero__title
    @media screen and ( max-width 540px )
        font-size: 63px;
        span 
            margin-top: 2%;
            font-size: 55px;
    @media screen and ( max-width 425px )
        width: 95%;
        margin: 0 auto;
        font-size: 48px;
        span 
            margin-top: 0;
            font-size: 40px;
            line-height: 1;
    @media screen and ( max-width 345px )
        font-size: 42px;
        line-height: 50px;
        span 
            font-size: 32px;

.hero__arrow
    @media screen and ( max-width 540px )
        padding-bottom: 5%;
    @media screen and ( max-width 425px )
        svg
            width: 5% !important;
/* **************************** */
// Hero end
/* **************************** */



/* **************************** */
// We
/* **************************** */
.we
    @media screen and ( max-width 1024px )
        background: url("image/content/we/bg12.png") no-repeat center/cover !important;

.we__title
    @media screen and ( max-width 800px )
        padding: 16% 0;
    @media screen and ( max-width 540px )
        padding: 10% 0;
    @media screen and ( max-width 345px ) and ( max-height 500px )
        padding: 10% 0 5% 0;
    
.we__list
    @media screen and ( max-width 1024px )
        padding: 6% 6px;
    @media screen and ( max-width 540px )
        flex-direction: column;
        padding: 2% 6px;
    @media screen and ( max-width 425px )
        padding: 0;

.we__item
    @media screen and ( max-width 540px )
        display: flex;
        justify-content: space-between;
        &:not(:last-child)
            margin: 0;
            margin-bottom: 7%;

.we__hand
    margin-bottom: 3% !important;

.we__pic
    @media screen and ( max-width 540px )
        width: 30%;
        padding: 16px 0;
    @media screen and ( max-width 425px )
        width: 15%;
    svg
        @media screen and ( max-width 425px )
            width: 70% !important;
            height: auto !important;

.we__desc
    @media screen and ( max-width 540px )
        width: 70%;
        text-align: left;
    @media screen and ( max-width 425px )
        width: 83%;
    @media screen and ( max-width 345px )
        width: 85%;
    h3
        @media screen and ( max-width 425px )
            padding: 3% 0;
        @media screen and ( max-width 375px )
            font-size: 20px;
            line-height: 24px;

.we__natural
    h3
        @media screen and ( max-width 540px )
            padding: 26px 0 11px 0;
        @media screen and ( max-width 425px )
            padding: 5% 0 3% 0;        
/* **************************** */
// We end
/* **************************** */



/* **************************** */
// Team
/* **************************** */
.team__wrap
    @media screen and ( max-width 1024px )
        width: 100%;
    @media screen and ( max-width 540px )
        padding: 0;

.team__title
    @media screen and ( max-width 1024px )
        padding: 20% 0;
        text-align: center;
    @media screen and ( max-width 540px )
        padding: 11% 0;
    @media screen and ( max-width 345px ) and ( max-height 500px )
        padding: 10% 0 5% 0;
/* **************************** */
// Team end
/* **************************** */



/* **************************** */
// Menu
/* **************************** */
.menu__title
    @media screen and ( max-width 1024px )
        top: 10.5%;
        left: 3.5%;
/* **************************** */
// Menu end
/* **************************** */



/* **************************** */
// Review
/* **************************** */
.review__review
    @media screen and ( max-width 1024px )
        flex: 1 0 50%;
        text-align: center;
    h3
        @media screen and ( max-width 1024px )
            margin-bottom: 5px;
        @media screen and ( max-width 540px )
            margin: 13% 0;
            font-size: 23px;
            line-height: 28px;
        @media screen and ( max-width 375px )
            margin: 5% 0;
            font-size: 18px;
            line-height: 20px;
    p
        @media screen and ( max-width 540px )
            display: none;
    p:not(:last-child)
        @media screen and ( max-width 1024px )
            margin-bottom: 7.5%;

.review__hover
    @media screen and ( max-width 1024px )
        padding: 6.5% 11%;
    @media screen and ( max-width 540px )
        display: flex;
        flex-direction: column;
        justify-content: center;
    @media screen and ( max-width 375px )
        padding: 5%;

.review__popup
    & > div
        @media screen and ( max-width 425px )
            max-width: 345px;
            padding: 5%;
        @media screen and ( max-width 345px )
            max-width: 295px;
    .review__popup-close
        @media screen and ( max-width 425px )
            top: 8%;
            right: 5%;
        
.btn__more_phone_none
    @media screen and ( max-width 540px )
        display: none;

.btn__more_desktop_none
    @media screen and ( max-width 540px )
        display: inline-block;

/* **************************** */
// Review end 
/* **************************** */



/* **************************** */
// Form
/* **************************** */
.form__title
    @media screen and ( max-width 800px )
        padding: 16% 0 10% 0;
    @media screen and ( max-width 540px )
        width: 80%;
        padding: 12% 0 4.5% 0;
        margin: auto;
    @media screen and ( max-width 425px )
        width: 100%;
        padding: 5% 0; 
    @media screen and ( max-width 345px )
        font-size: 28px;
        line-height: 1;

.form__form
    @media screen and ( max-width 1024px )
        width: 65%;
        margin: 0 auto;
    & > .form__row
        /* Изменена главная ось для основных колонок */
        @media screen and ( max-width 1024px )
            flex-direction: column;
            &:not(:last-child)
                margin-bottom: 4%;
        @media screen and ( max-width 540px )
            &:not(:last-child)
                margin-bottom: 4.5%;
    & > .form__row
        /* Основные колонки */
        & > .form__col
            @media screen and ( max-width 1024px )
                // width: 100%;
                &:not(:last-child)
                    margin: 0;
                    margin-bottom: 3%;
            @media screen and ( max-width 375px )
                & > .form__row:not(:last-child)
                    margin-bottom: 3%;
    @media screen and ( max-width 540px )
        width: 100%;
        padding: 0 6px;
    
/* У всех колонок одинаковые margin */    
.form__col
    &:not(:last-child)
        @media screen and ( max-width 540px )    
            margin-right: 2%;

.form__col_size_s:nth-child(3)
    @media screen and ( max-width 540px )
        margin-right: 0;

.form__col--mobile
    @media screen and ( max-width 540px )
        display: none;

.form__row--comment
    @media screen and ( max-width 540px )
        margin-bottom: 6.5% !important;
    @media screen and ( max-width 345px ) and ( max-height 500px )
        margin-bottom: 4.5% !important;

.form__row--radio,
.form__row--checkbox
    @media screen and ( max-width 540px )
        justify-content: center;

.form__row--radio
    @media screen and ( max-width 540px )
        margin-bottom: 6% !important;
    @media screen and ( max-width 345px ) and ( max-height 500px )
        margin-bottom: 3% !important;

.form__input
    @media screen and ( max-width 375px )
        padding: 8px 18px 7px 18px;

.form__comment
    @media screen and ( max-width 345px ) and ( max-height 500px )
        height: 60px;

.form__answer-cont
    @media screen and ( max-width 425px )
        width: 180px;
        padding: 18px 8px;
    @media screen and ( max-width 425px )
        p
            margin-bottom: 10px;

.form__row
    .form__btn
        @media screen and ( max-width 540px )
            justify-content: center;

.form__helper
    @media screen and (max-width 540px)
        margin: 0 !important;

/* **************************** */
// Form end
/* **************************** */

.page__landscape-err
    p
        @media screen and ( max-width 800px )
            font-size: 18px;
            line-height: 1;
    