.navbar__list
    @media screen and ( max-width 800px )
        position: absolute;
        top: -100%;
        left: -100%;
        z-index: 99999999;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: primaryBlack;
    li
        &:nth-last-of-type(1n+2)::after
            @media screen and ( max-width 800px )
                display: block;
                margin: 28px auto;
            @media screen and ( max-width 540px )
                margin: 18% auto;
    a
        @media screen and ( max-width 800px )
            font: 24px / 1 ubuntuReg;
        @media screen and ( max-width 425px )
            font-size: 18px;
        @media screen and ( max-width 345px )
            font-size: 14px;

.navbar__close
    @media screen and ( max-width 800px )
        position: absolute;
        top: 3%;
        right: 4.5%;
        display: block;
    @media screen and ( max-width 540px )
        top: 4%;
    .js-navbar-close
        @media screen and ( max-width 800px )
            position: absolute;
            top: -28%;
            left: -45%;
            z-index: 99999999999999;
            width: 38px;
            height: 38px;
            cursor: pointer;

.navbar.active
    @media screen and ( max-width 800px )
        .navbar__list
            top: 0;
            left: 0;
        