article.acco#js-acco

    // Section - 1 
    section.acco__sect.js-acco-sect
        h3.acco__name.js-acco-trigger 
            img(src="image/content/team/Polygon.png", alt="arrow").acco__arrow
            | Дэниэл Редклиф
        .js-acco-box
            .acco__cont
                .acco__pic
                    .acco__border    
                        img(src="image/content/team/aphex.png", alt="ava")
                .acco__desc
                    h4 Оператор
                    p 
                        | С радостью поможем подобрать 
                        | идеальный бургер и оформить заказ.
    // Section - 1 end

    // Section - 2
    section.acco__sect.js-acco-sect
        h3.acco__name.js-acco-trigger 
            img(src="image/content/team/Polygon.png", alt="arrow").acco__arrow
            | Ричард Джеймс
        .js-acco-box
            .acco__cont
                .acco__pic
                    .acco__border    
                        img(src="image/content/team/aphex.png", alt="ava")
                .acco__desc
                    h4 Оператор
                    p 
                        | С радостью поможем подобрать 
                        | идеальный бургер и оформить заказ.
    // Section - 2 end

    // Section - 3
    section.acco__sect.js-acco-sect
        h3.acco__name.js-acco-trigger 
            img(src="image/content/team/Polygon.png", alt="arrow").acco__arrow
            | Джейк Финн
        .js-acco-box
            .acco__cont
                .acco__pic
                    .acco__border    
                        img(src="image/content/team/aphex.png", alt="ava")
                .acco__desc
                    h4 Оператор
                    p 
                        | С радостью поможем подобрать 
                        | идеальный бургер и оформить заказ.
    // Section - 3 end

    // Section - 4
    section.acco__sect.js-acco-sect
        h3.acco__name.js-acco-trigger 
            img(src="image/content/team/Polygon.png", alt="arrow").acco__arrow
            | Николай Иванов
        .js-acco-box
            .acco__cont
                .acco__pic
                    .acco__border    
                        img(src="image/content/team/aphex.png", alt="ava")
                .acco__desc
                    h4 Оператор
                    p 
                        | С радостью поможем подобрать 
                        | идеальный бургер и оформить заказ.
    // Section - 4 end


        