footer.footer(data-src="image/content/footer/chalkboard_texture_mc2015_by_mattiamc-d8dbnac1.png")
    .container
            .footer__row
                .footer__inf
                    div
                        span.footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                    div
                        svg(width="11px", height="11px")
                            use(xlink:href="#phone")
                        //- object(data="image/svg/phone.svg", type="image/svg+xml")
                        span.footer__phone +7 (812) 377-13-77
                ul.footer__social
                    // vk
                    li
                        a(href="javascript:void(0);")
                        svg(width="24px", height="14px")
                            use(xlink:href="#vk")
                        //- object(data="image/svg/vk.svg", type="image/svg+xml", width="24px", height="14px")
                    // vk end
                    
                    // fb
                    li
                        a(href="javascript:void(0);")
                        svg(width="22px", height="21px")
                            use(xlink:href="#fb")
                        //- object(data="image/svg/fb.svg", type="image/svg+xml", width="22px", height="21px")
                    // fb end
                    
                    // inst
                    li
                        a(href="javascript:void(0);")
                        svg(width="21px", height="21px")
                            use(xlink:href="#inst")
                        //- object(data="image/svg/inst.svg", type="image/svg+xml", width="21px", height="21px")
                    // inst end
                    
                    // tw
                    li
                        a(href="javascript:void(0);")
                        svg(width="19px", height="17px")
                            use(xlink:href="#twitter")
                        //- object(data="image/svg/twitter.svg", type="image/svg+xml", width="19px", height="17px")
                    // tw end       
