article.h-acco#js-h-acco

    // Section - 1
    section.h-acco__sect.js-h-acco-sect
        h3.h-acco__name.js-h-acco-trigger(data-src="image/content/menu/photo-1468071174046-657d9d351a40.png")
            span Для мясоедов 
        .js-h-acco-box
            .h-acco__desc
                p.js-h-acco-fade.js-h-acco-fade--out
                    | Речевой акт редуцирует диалектический характер. 
                    | Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову, 
                    | однако механизм сочленений неустойчив. Модальность высказывания, 
                    | как справедливо считает И.Гальперин, пространственно выбирает метр.
                    | Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                    | заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову.
    // Section - 1 end
    
    // Section - 2
    section.h-acco__sect.js-h-acco-sect
        h3.h-acco__name.js-h-acco-trigger(data-src="image/content/menu/photo-1466814314367-45323ac74e2b.png") 
            span Вегетарианское 
        .js-h-acco-box
            .h-acco__desc
                p.js-h-acco-fade.js-h-acco-fade--out
                    | Речевой акт редуцирует диалектический характер. 
                    | Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову, 
                    | однако механизм сочленений неустойчив. Модальность высказывания, 
                    | как справедливо считает И.Гальперин, пространственно выбирает метр.
                    | Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                    | заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову.
    // Section - 2 end

    // Section - 3 
    section.h-acco__sect.js-h-acco-sect
        h3.h-acco__name.js-h-acco-trigger(data-src="image/content/menu/IMG_4084.png") 
            span Диетическое 
        .js-h-acco-box
            .h-acco__desc
                p.js-h-acco-fade.js-h-acco-fade--out
                    | Речевой акт редуцирует диалектический характер. 
                    | Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову, 
                    | однако механизм сочленений неустойчив. Модальность высказывания, 
                    | как справедливо считает И.Гальперин, пространственно выбирает метр.
                    | Речевой акт редуцирует диалектический характер. Развивая эту тему, 
                    | заимствование редуцирует конструктивный механизм сочленений. 
                    | Лирический субъект начинает диссонансный анжамбеман. 
                    | Наш современник стал особенно чутко относиться к слову.
    // Section - 3 end           