nav.navbar.js-navbar
    ul.navbar__list
        li
            a(href="javascript:void(0);", data-anchor="we") О нас 
        li
            a(href="javascript:void(0);", data-anchor="burger") Бургеры
        li
            a(href="javascript:void(0);", data-anchor="team") Команда
        li
            a(href="javascript:void(0);", data-anchor="menu") Меню
        li
            a(href="javascript:void(0);", data-anchor="review") Отзывы
        li
            a(href="javascript:void(0);", data-anchor="cont") Контакты
        .navbar__close
            svg(width="20px", height="20px")
                use(xlink:href="#cancel")
            //- img(src="image/content/hero/close.png", alt="navbar close pic")
            // js navbar close 
            .js-navbar-close
            // js navbar close end