.acco
    color: #fff;

.acco__sect
    margin-bottom: 23px;
    .acco__arrow
        transform: rotate(180deg)

.acco__name
    font: 14px / 28px gagalinReg;
    cursor: pointer;
    .acco__arrow
        margin-right: 10px;
        will-change: transform;
        transition: all .5s;

.js-acco-box
    height: 0;
    overflow: hidden;
    transition: all .5s;

.acco__cont
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

.acco__border
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    img
        display: inline-block;
        width: 100%;
        transform: scale(1.3) translate(-2px,9px);

.acco__desc
    padding: 0 19px;
    h4
        margin-bottom: 15px;
        font: 14px / 1 ubuntuBold;

.acco__sect.active
    .acco__name
        color: primaryYellow;
        .acco__arrow
            transform: rotate(0);


