.acco
    @media screen and ( max-width 540px )
        width: 80%;
        padding: 7% 0;
    @media screen and ( max-width 375px )
        width: 100%;
        padding: 5% 0;

.acco__sect
    @media screen and ( max-width 540px )
        margin-bottom: 8%;
    @media screen and ( max-width 375px )
        margin-bottom: 5%;

.acco__name
    @media screen and ( max-width 375px )
        font-size: 20px;
        line-height: 1;
    @media screen and ( max-width 345px )
        font-size: 18px; 
    .acco__arrow
        @media screen and ( max-width 540px )
            margin: 0 2.5%;

.acco__cont
    @media screen and ( max-width 540px )
        padding: 3.5% 0;
    @media screen and ( max-width 345px )
        padding: 3% 0;

.acco__desc
    @media screen and ( max-width 540px )
        padding: 1% 6%;
    h4
        @media screen and ( max-width 540px )
            margin: 4.5% 0;
        @media screen and ( max-width 345px )
            margin: 4% 0 2% 0;

.acco__sect.active
    @media screen and ( max-width 540px )
        margin-bottom: 5%;