.header
    @media screen and ( max-width 800px )
        padding: 1% 3%;

.header__menu
    @media screen and ( max-width 800px )
        display: block;
    .js-menu-trig
        @media screen and ( max-width 800px )
            position: absolute;
            top: -4%;
            left: -27%;
            z-index: 9999;
            width: 38px;
            height: 38px;
            cursor: pointer;