.caro__slide
    @media screen and ( max-width 1024px )
        flex-direction: column;
        padding: 0;
        padding-top: 10%;
    @media screen and ( max-width 800px )
        @extend .sect__cont;

.caro__pic,
.caro__desc
    @media screen and ( max-width 1024px )
        width: 75%;

.caro__pic
    img 
        @media screen and ( max-width 1024px )
            width: 90%;

.caro__desc
    @media screen and ( max-width 1024px )
        align-self: center;
        padding: 0;
        text-align: center;
    h3
        @media screen and ( max-width 1024px )
            margin: 3% 0;

.caro__other
    @media screen and ( max-width 1024px )
        justify-content: center;
        margin-top: 6%;

.caro__comp
    @media screen and ( max-width 1024px )
        top: 0;
        left: 18.5%;

.caro__list
    @media screen and ( max-width 1024px )
        width: 320px;
        padding: 20% 23%;

.caro__comp-wrap
    @media screen and ( max-width 1024px )
        padding-right: 13%;

.caro__comp-close
    @media screen and ( max-width 1024px )
        display: block;

.caro__kkal
    @media screen and ( max-width 1024px )
        top: -2%;
        right: 16.5%;
        bottom: auto;
        left: auto;

.caro__next
    @media screen and ( max-width 1024px )
        right: 4.5%;

.caro__prev
    @media screen and ( max-width 1024px )
        left: 4.5%;