.navbar__list
    li
        &:nth-last-of-type(1n+2)::after
            @media screen and ( max-width 540px )
                margin: 18% auto;
    a
        @media screen and ( max-width 425px )
            font-size: 18px;
        @media screen and ( max-width 345px )
            font-size: 14px;

.navbar__close
    @media screen and ( max-width 540px )
        top: 4%;