@font-face
   font-family gagalinregular
   src url( 'fonts/Gagalin/gagalin-regular-webfont.woff' ),
       url( 'fonts/Gagalin/gagalin-regular-webfont.woff2' )

@font-face
   font-family lifehackmedium
   src url( 'fonts/Lifehack/lifehack_medium-webfont.woff' ),
       url( 'fonts/Lifehack/lifehack_medium-webfont.woff2' ) 

@font-face
   font-family ubuntubold
   src url( 'fonts/Ubuntu/ubuntu-b-webfont.woff' ),
       url( 'fonts/Ubuntu/ubuntu-b-webfont.woff2' )

@font-face
   font-family ubuntulight
   src url( 'fonts/Ubuntu/ubuntu-light-webfont.woff' ),
       url( 'fonts/Ubuntu/ubuntu-light-webfont.woff2' )  

@font-face
   font-family ubuntumedium
   src url( 'fonts/Ubuntu/ubuntu-medium-webfont.woff' ),
       url( 'fonts/Ubuntu/ubuntu-medium-webfont.woff2' ) 

@font-face
   font-family ubunturegular
   src url( 'fonts/Ubuntu/ubuntu-regular-webfont.woff' ),
       url( 'fonts/Ubuntu/ubuntu-regular-webfont.woff2' )    