.hamburger-menu
    position: relative;
    display: none;
    margin-left: 4%;
    span 
        display: block;
        width: 24px;
        height: 4px;
        margin: 5px 0;
        background-color: #fff;
        border-radius: 5px;
    &::before
        content: '';
        @extend .hamburger-menu span;
    &::after
        content: '';
        @extend .hamburger-menu span;