.h-acco__name
    span
        @media screen and ( max-width 425px )
            font-size: 24px;
        @media screen and ( max-width 345px )
            font-size: 18px;

.h-acco__desc
    @media screen and ( max-width 650px )
        padding: 5%;
    p
        @media screen and ( max-width 345px ) and ( max-height 500px )
            font-size: 10px;
            line-height: 20px;