.footer
    @media screen and ( max-width 540px )
        padding: 2.4% 10px;

.footer__row
    @media screen and ( max-width 540px )
        flex-direction: column;
        align-items: center;
        text-align: center;

.footer__inf
    @media screen and ( max-width 540px )
        margin-bottom: 3%;