.h-acco
    position: relative;
    z-index: 1;
    height: 100%;
    color: #fff;

.h-acco,
.h-acco__sect
    display: flex;
    justify-content: flex-end;

/* 
    Для IE 
*/
.h-acco__sect
    overflow: hidden;
/* 
    *************
*/

.h-acco__name
    position: relative;
    width: 80px;
    z-index: 0;
    background: no-repeat center / cover;
    cursor: pointer;
    span
        position: absolute;
        right: 0;
        bottom: 2%;
        left: 0;
        z-index: 1;
        display: inline-block;
        font: 40px / 1 gagalinReg;
        white-space: nowrap;
        transform: rotate(-90deg) translate(50%, 0);
    &::after
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(primaryBlack,.5);

.js-h-acco-box
    width: 100%;
    max-width: 0;
    transition: all .5s;
    overflow: hidden;

.h-acco__desc
    height: 100%;
    padding: 56px 36px;
    background-color: rgba(primaryBlack,.9);

.h-acco__sect.active
    .h-acco__name
        color: primaryYellow;
    .js-h-acco-box
        max-width: 540px;

.js-h-acco-fade--out
    opacity: 0;
    transition: all 0s;

.js-h-acco-fade--in
    opacity: 1;
    transition: all .5s 1s;