*
    box-sizing: border-box;

html, body
    padding: 0;
    margin: 0;

body
    height: 100vh;
    overflow: hidden;

.page
    font: 14px / 24px baseFont;

.sect
    position: relative;
    height: 100vh;

.container
    display: flex;
    align-items: center;
    width: 98%;
    max-width 960px;
    height: 100%;
    margin: 0 auto;

.sect__cont
    width: 100%;
    min-height: 650px;

ul,
li
    list-style none;
    padding: 0;
    margin: 0;

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0;
    line-height: 1;

p
    margin: 0;

a
    text-decoration: none;
    color: baseFontColor;