.header
    @media screen and ( max-width 540px )
        padding: 1.5% 3%;

.header__logo
    svg
        @media screen and ( max-width 425px )
            width: 66px !important;
            height: 46px !important;

.header__menu
    @media screen and ( max-width 540px )
        margin-left: 7%;