.preloader__status
    @media screen and ( max-width 800px )
        font-size: 50px;
        line-height: 1;
/* **************************** */
// Hero 
/* **************************** */
.hero__header
    @media screen and ( max-width 1024px )
        margin-bottom: 3%;

.hero__main
    @media screen and ( max-width 1024px )
        flex-direction: column;
        text-align: center;

.hero__pic,
.hero__desc
    @media screen and ( max-width 1024px )
        width: 60%;

.hero__pic
    @media screen and ( max-width 1024px )
        padding-left: 34px;
    .hero__helper
        @media screen and ( max-width 1024px )
            margin-top: -128px;

.hero__drops
    @media screen and ( max-width 1024px )
        top: -20%;
        left: 0%;
        width: 100%;
    
.hero__desc
    @media screen and ( max-width 1024px )
        align-self: center;
        padding: 0;
        margin-top: 3%;
/* **************************** */
// Hero end
/* **************************** */



/* **************************** */
// We
/* **************************** */
.we
    @media screen and ( max-width 1024px )
        background: url("image/content/we/bg12.png") no-repeat center/cover !important;

.we__title
    @media screen and ( max-width 800px )
        padding: 16% 0;
    
.we__list
    @media screen and ( max-width 1024px )
        padding: 6% 6px;
/* **************************** */
// We end
/* **************************** */



/* **************************** */
// Team
/* **************************** */
.team__wrap
    @media screen and ( max-width 1024px )
        width: 100%;

.team__title
    @media screen and ( max-width 1024px )
        padding: 20% 0;
        text-align: center;
/* **************************** */
// Team end
/* **************************** */



/* **************************** */
// Menu
/* **************************** */
.menu__title
    @media screen and ( max-width 1024px )
        top: 10.5%;
        left: 3.5%;
/* **************************** */
// Menu end
/* **************************** */



/* **************************** */
// Review
/* **************************** */
.review__review
    @media screen and ( max-width 1024px )
        flex: 1 0 50%;
        text-align: center;
    h3
        @media screen and ( max-width 1024px )
            margin-bottom: 5px;
    p:not(:last-child)
        @media screen and ( max-width 1024px )
            margin-bottom: 7.5%;

.review__hover
    @media screen and ( max-width 1024px )
        padding: 6.5% 11%;

/* **************************** */
// Review end 
/* **************************** */



/* **************************** */
// Form
/* **************************** */
.form__title
    @media screen and ( max-width 800px )
        padding: 15.6% 0 10.3% 0;

.form__form
    @media screen and ( max-width 1024px )
        width: 65%;
        margin: 0 auto;
    & > .form__row
        /* Изменена главная ось для основных колонок */
        @media screen and ( max-width 1024px )
            flex-direction: column;
            &:not(:last-child)
                margin-bottom: 4.5%;
    & > .form__row
        /* Основные колонки */
        & > .form__col:not(:last-child)
            @media screen and ( max-width 1024px )
                margin: 0;
                margin-bottom: 3%;
/* **************************** */
// Form end
/* **************************** */

.landscape
    p
        @media screen and ( max-width 800px )
            font-size: 18px;
            line-height: 1;