

// font 
gagalinReg = 'gagalinregular', sans-serif, arial;
lifeHackMed = 'lifehackmedium', sans-serif, arial;
ubuntuBold = 'ubuntubold', sans-serif, arial;
ubuntuLight = 'ubuntulight', sans-serif, arial;
ubuntuMed = 'ubuntumedium', sans-serif, arial;
ubuntuReg = 'ubunturegular', sans-serif, arial;

baseFont = ubuntuLight;

// color 
primaryBlack = #2f3234;
primaryOrange = #e45028;
primaryYellow = #f9b43b;

baseFontColor = primaryBlack;